<section class="content container clearfix">
    <div class="contactform">
        <div class="span12">
            <h2>Mantengase en <span class="meta">Contacto</span></h2>
        </div>
        <div class="span4">
            <p>Calle Ayuntamiento No. 20 Local H , Atizapán de Zaragoza</p>
            <ul class="unstyled">
                <li>Tel : <a href="tel:63910065">01 55 6391 0065</a></li>
                <li>Email : <a href="mailto:soporte@lemon-solutions.net" class="colored">soporte@lemon-solutions.net</a></li>
                <li>Web : <a href="http://lemon-solutions.net" class="colored">lemon-solutions.net</a></li>
            </ul>
        </div>
        <div class="span8">
            <form id="contact-form" accept-charset="utf-8" action="" method="post">
                <div id="output" class="successMessage">Eviado, muchas Gracias</div>
                <fieldset>
                    <div class="">
                        <p>
                            <input class="w237 MR10" name="name" id="name" type="text" value="" placeholder="Tu Nombre">
                        </p>
                        <p>
                            <input class="w237"  name="eamil" id="email" type="text" value="" placeholder="Tu Email o Tu teléfono">
                        </p>
                    </div>
                    <!-- /userDetails -->
                    <div class="fieldcomp inquiry">
                        <p>
                            <textarea class="ctext"  id="message" name="message" placeholder="comentario, observación, recomendación ,etc. "></textarea>
                        </p>
                    </div>
                    <!-- /inquiry -->
                </fieldset>
                <div class="submitCont">
                    <input type="submit" value="Enviar" id="send" class="button medium color">
                </div>
                <!-- /submitCont -->
            </form>
        </div>
    </div>
</section>
