<section id="slider" class="container clearfix">
    <div class="flexslider slider-text-image">
        <ul class="slides">
            <!--first slide starts-->
            <li>
                <div class="span8"> <img src="/img/slider/slide1.jpg" alt="We build apps"> </div>
                <div class="span4">
                    <h1>We Build Mobile Apps For Masses!</h1>
                    <p>Our design team specializes in Information Architecture and User Interface design for Web and Mobile applications.</p>
                    <a href="#" class="button medium color">View Our Work</a> </div>
            </li>
            <!--first slide ends--> 

            <!--second slide starts-->
            <li>
                <div class="span8"> <img src="/img/slider/slide2.jpg" alt="We build apps"> </div>
                <div class="span4">
                    <h1>We Design Stunning Interfaces!</h1>
                    <p>Our design team specializes in Information Architecture and User Interface design for Web and Mobile applications.</p>
                    <a href="#" class="button medium color">Contact Us</a> </div>
            </li>
            <!--second slide ends--> 
        </ul>
    </div>
</section>
