{% extends "QPvBundle::template.html.twig" %}

{% block content %}
<section class="content container clearfix"> 

    <!--tabs starts-->
    <div class="span12"> 
        <!--tab content starts-->
        <div class="tab-content clearfix">
            <!--pricing starts-->
            <div class="" id="pricing">
                <div class="pricing">
                    <div class='span4'>
                        <div class='well'>
                            <h2>Free</h2>
                            <ul>
                                <li>Registro</li>
                                <li>Tu tienda en Directorio</li>
                                <li>Dirección en Google</li>
                                <li>Sin tarjeta de crédito</li>
                                <li>Punto de venta</li>
                                <li>Hasta 20 ventas diarias</li>
                                <li>Gratis</li>
                            </ul>
                            <div class="signup"> <a href="{{path('u_new')}}" class="button small color"> <span class="icon-edit"></span> Regístrate </a> </div>
                        </div>
                    </div>
                    <!-- pricing col ends -->
                    <div class='span4'>
                        <div class='well highlighted'>
                            <h2>Basic</h2>
                            <ul>
                                <li>Registro</li>
                                <li>Tu tienda en directorio</li>
                                <li>Dirección en google</li>
                                <li>Diferentes tipos de pago</li>
                                <li>1 mes gratis</li>
                                <li>Punto de venta</li>
                                <li>Estadisticas de tus ventas</li>
                                <li>Hasta 100 ventas diarias</li>
                                <li>$49.90 al mes</li>
                            </ul>
                            <div class="signup"> <a href="{{path('u_new')}}" class="button small color"> <span class="icon-edit"></span> Regístrate </a> </div>
                        </div>
                    </div>
                    <!-- pricing col ends -->
                    <div class='span4'>
                        <div class='well'>
                            <h2>Pro</h2>
                            <ul>
                                <li>Todo lo anterior</li>
                                <li>Punto de venta</li>
                                <li>Modulo de Empleados</li>
                                <li>Estadísticas</li>
                                <li>Registra mas de una tienda</li>
                                <li>Registra mas de un almacén</li>
                                <li>Hasta 500 ventas diarias</li>
                                <li> $ 99.99 al mes </li>
                            </ul>
                            <div class="signup"> <a href="{{path('u_new')}}" class="button small color"> <span class="icon-edit"></span> Regístrate </a> </div>
                        </div>
                    </div>
                    <!-- pricing col ends --> 

                </div>
            </div>
            <!--pricing ends--> 

        </div>
        <!--tab content ends--> 

    </div>
    <!--tabs ends--> 

</section>
{% endblock %}