{% extends "QPvBundle::template.html.twig" %}

{% block content %}
<div id="content_main" style="min-height: 500px;">
    <section class="content dark container clearfix">
        <div class="span12">
            <h2>Nuestros  <span class="meta">Servicios</span></h2>
        </div>
        <div class="services clearfix"> 

            <!-- item 1 -->
            <div class="span6">
                <div class="item">
                    <div class="square"><a href="services.html"><img src="/img/icons/webdesign.png" alt="" /></a></div>
                    <h3><a href="services.html">Punto de venta</a></h3>
                    <p> Una terminal punto de venta en tu navegador. </p>
                </div>
            </div>
            <!-- End --> 

            <!-- item 2 -->
            <div class="span6">
                <div class="item">
                    <div class="square"><a href="services.html"><img src="/img/icons/branding.png" alt="" /></a></div>
                    <h3><a href="services.html">Presencia Web</a></h3>
                    <p> Le damos a tu negocio precencia web. Así tus clientes estarán mas cerca. </p>
                </div>
            </div>
            <!-- End --> 

            <!-- item 3 -->
            <div class="span6">
                <div class="item ">
                    <div class="square"><a href="services.html"><img src="/img/icons/wordpress.png" alt="" /></a></div>
                    <h3><a href="services.html">Control Total</a></h3>
                    <p> Inventarios, almacenes, trabajadores, horarios, tiendas, de todo. </p>
                </div>
            </div>
            <!-- End --> 

            <!-- item 4 -->
            <div class="span6">
                <div class="item ">
                    <div class="square"><a href="services.html"><img src="/img/icons/strategy.png" alt="" /></a></div>
                    <h3><a href="services.html">Precios</a></h3>
                    <p> Todo lo anterior por el mismo precio. ¿Que esperas? , registrate ya.</p>
                </div>
            </div>
            <!-- End --> 

        </div>
        <!-- End Services --> 
    </section>
</div>
{% endblock %}